body {
  overflow-x: hidden;
  overflow-y: visible;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13vh;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh;
  position: relative;
}
.search-bar input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}
button {
  padding: 8px 15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.8vw;
}
button:hover {
  background-color: #f0f0f0;
}
#categorySelect {
  padding: 1vh;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 12px;
}
#searchResults {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.search-item {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8.5px 5px;
  transition: filter 0.3s ease;
  position: relative;
  z-index: 1;
}
.search-item:hover {
  filter: brightness(80%);
}
.search-item a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.5s;
  cursor: default;
  z-index: 2;
  white-space: nowrap;
}
.search-item p {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.5s;
  cursor: default;
  z-index: 2;
  white-space: nowrap;
}
.search-item b {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: white;
  cursor: default;
}
.search-item:hover a {
  bottom: -25px;
  opacity: 1;
}
.search-item:hover p {
  bottom: -120px;
  opacity: 1;
}
.suggestions {
  position: absolute;
  background-color: white;
  display: block;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  bottom: -73px;
  width: 100%;
  z-index: 2;
}
.suggestion {
  padding: 8px 12px;
  cursor: pointer;
}
.suggestion:hover {
  background-color: #f0f0f0;
}
.toggle-switch {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.switch {
  position: relative;
  margin-left: 5px;
  margin-bottom: -1.2px;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.user_name {
  position: absolute;
  font-size: min(7.1vh, 6vw);
  font-weight: 500;
  left: 45vw;
  bottom: 60px;
  white-space: nowrap;
}
:root {
  --color-heart: #EA442B;
  --easing: cubic-bezier(.7, 0, .3, 1);
  --duration: 0.5s;
}
.like-container {
  display: inline-block;
}
.like-button {
  font-size: 6vmin;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: white;
  position: absolute;
  width: 35px;
  height: 35px;
  outline: none;
  z-index: 2;
  cursor: pointer;
  transition: transform var(--duration) var(--easing);
}
@keyframes depress {
  from, to {
    transform: none;
  }
  50% {
    transform: translateY(5%) scale(0.9);
  }
}
@keyframes depress-shadow {
  from, to {
    transform: none;
  }
  50% {
    transform: scale(0.5);
  }
}
.like-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.like-wrapper > * {
  margin: auto;
  grid-area: 1 / 1;
  position: relative;
  box-sizing: border-box;
}
.like-button:active:before {
  animation: depress-shadow var(--duration) var(--easing) both;
}
.like-button:focus:after {
  animation: depress var(--duration) var(--easing) both;
}
.like-button:focus {
  cursor: pointer;
}
.like-button.active .heart > path {
  fill: var(--color-heart);
}
.like-button.active .heart {
  animation: heart-bounce var(--duration) var(--easing);
}
.like-button.active .particle {
  animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
}
.like-button.active .ripple:before {
  animation: ripple-out var(--duration) var(--easing);
}
.heart {
  width: 20px;
  height: 20px;
  display: block;
  transform-origin: center 80%;
  margin-top: 1px;
}
.heart > path {
  stroke: var(--color-heart);
  stroke-width: 2;
  fill: transparent;
  transition: fill var(--duration) var(--easing);
}
@keyframes heart-bounce {
  40% {
    transform: scale(0.7);
  }
  0%, 80%, 100% {
    transform: scale(1);
  }
}
.particles {
  width: 1px;
  height: 1px;
}
.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.1em;
  width: 0.1em;
  border-radius: 0.05em;
  background-color: var(--color);
  --percentage: calc(var(--i) / var(--total-particles));
  --Θ: calc(var(--percentage) * 1turn);
  transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  transition: all var(--duration) var(--easing);
}
@keyframes particles-out {
  50% {
    height: 0.3em;
  }
  50%, 60% {
    height: 0.3em;
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: 0.2em;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
.ripple {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.ripple:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.4em solid var(--color-heart);
  border-radius: inherit;
  transform: scale(0);
}
@keyframes ripple-out {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(5);
  }
}
.logo-image {
  background-image: url("../resources/images/my_dragon_icon_full.jpg");
  height: 14vh;
  width: 14vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 86vh;
  left: 13.5vw;
  transform: translateX(-50%);
}
.logo-text {
  position: absolute;
  bottom: 83vh;
  left: 15vw;
  font-size: min(5.6vh, 4.5vw);
}
