.column_left_img {
  float: left;
  width: 33.33vw;
  padding: 0.5vw;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.column_right_img {
  background-position: right;
  margin-right: -23.5vw;
  float: right;
  width: 33.33vw;
  padding: 0.5vw;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
body {
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: sans-serif;
}
.bg-text_large_main {
  color: rgb(0, 0, 0);
  font-size: min(4.65vw, 6.9vh); 
  position: absolute;
  top: 15vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-weight: normal;
  white-space: nowrap;
}
.bg-text {
  color: rgb(0, 0, 0);
  font-size: min(2.2vh, 1vw);
  font-weight: normal;
  position: absolute;
  top: 21.2vh;
  left: 14vw;
  width: 100vw;
}
.bg-text_skip_upper_menu_bar {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 9vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 98vw;
}
.topnav {
  display: flex;
  overflow: hidden;
  background-color: #333;
  width: 97.8vw;
  height: 7.5vh;
  white-space: nowrap;
}
.topnav a {
    color: #ffffff;
    padding: 2.3vh 5.89vw;
    text-decoration: none;
    font-size: min(2.5vh, 1.35vw);
    transition: .2s ease-in-out 0s;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: mask-position 1s ease,-webkit-mask-position 1s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}
.bg-text_images_screens {
  color: rgb(0, 0, 0);
  font-size: min(2.3vh, 1.15vw);
  font-weight: normal;
  position: absolute;
  top: 86vh;
  left: 16vw;
  width: 100vw;
}
.circle {
  position: relative;
  left: 93vw;
  top: -7.5vh;
  width: 3.8vw;
  height: 7.5vh;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.name_circle {
  position: relative;
  color: black;
  left: 92.4vw;
  top: -7vh;
  font-size: min(2.2vh, 1vw);
  text-align: left;
  direction: ltr;
}
.circle img {
  width: 115%;
  height: 115%;
  border-radius: 50%;
  transition: filter 0.3s;
}
.circle:hover img {
  filter: brightness(80%);
}
.circle input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container {
  text-align: center; 
  position: relative;
  width: 40vw; 
  height: 36vh;
  background: #FFF;
  padding: 20px 30px;
  box-shadow: 25px 30px 55px #5557;
  border-radius: 13px;    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
.container .post {
  display: none;
  z-index: 10;
}
.container .text{
  font-size: min(3.5vh, 2.3vw);
  color: #666;
  font-weight: 500;
  z-index: 10;
}
.container .edit{
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  font-size: min(2.2vh, 1.05vw);
  color: #666;
  font-weight: 500;
  cursor:pointer;
  z-index: 10;
}
.container .edit:hover{
  text-decoration: underline;
  z-index: 10;
}
.container .star-widget input{
  display: none;
  z-index: 10;
}
.star-widget label{
  font-size: min(2.2vh, 1.05vw);
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
  z-index: 10;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
  z-index: 10;
}
input:checked ~ label {
  color: #fd4;
  z-index: 10;
}
input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
  z-index: 10;
}
#rate-1:checked ~ .header_1:before {
  content: "I just hate it. 😠";
  z-index: 10;
}
#rate-2:checked ~ .header_1:before {
  content: "I don't like it. 😞";
  z-index: 10;
}
#rate-3:checked ~ .header_1:before {
  content: "It is fine. 😐";
  z-index: 10;
}
#rate-4:checked ~ .header_1:before {
  content: "I like it. 😎";
  z-index: 10;
}
#rate-5:checked ~ .header_1:before {
  content: "I just love it. 😍";
  z-index: 10;
}
input:checked ~ form {
  display: block;
  z-index: 10;
}
.header_1 {
  width: 100%;
  font-size: min(2.5vh, 1.35vw);
  color: #333;
  font-weight: 500; 
  margin: 20px 0 10px 0;
  text-align: center;
  transition: all 0.2 ease;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
}
form .textarea {
  height: 10vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #333;
  padding-top: 10px;
  border: none;
  outline: none;
  background: #f3f3f3;
  padding: 12px 15px; 
  font-size: min(2.2vh, 1.05vw);
  z-index: 10;
  resize: none;
}
form .btn {
  height: 3vw;
  width: 100%;
  margin: 15px 0;
  z-index: 10;
}
form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #ff4b4b;
  border-radius: 20px;
  color: #FFF;
  font-size: min(2.2vh, 1.05vw);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transform: all 0.3s ease;
  z-index: 10;
}
form .btn button:hover {
  background-color: #f73636;
  z-index: 10;
}
.half-box {
  position: fixed;
  font-size: (2.2vh, 1.05vw);
  bottom: 0;
  right: 0;
  width: 12vw;
  height: 7.5vh;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-left-radius: 15px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 11;
}
.container {
  display: none;
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 22vw;
  z-index: 10;
}
.post .text {
  display: none;
  z-index: 10;
}
.star-widget {
  display: flex;
  flex-direction: row-reverse;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 2.5vh;
  transform: translateX(-50%);
}
.star-widget input {
  display: none;
  z-index: 10;
}
.star-widget label {
  font-size: min(3.4vh, 2.25vw);
  color: grey;
  cursor: pointer;
  z-index: 10;
}
.star-widget input:checked ~ label {
  color: gold;
  z-index: 10;
}
.star-widget label:hover, .star-widget label:hover ~ label {
  color: gold;
  z-index: 10;
}
.textarea {
  margin-top: 12vh;
  z-index: 10;
}
.textarea textarea {
  width: 100%;
  height: 8vh;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 10;
}
.btn {
  margin-top: 1vh;
  text-align: right;
  z-index: 10;
}
.btn button {
  z-index: 10;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
