body {
    overflow-x: hidden;
    overflow-y: visible;
}
.bg_image_dragon {
    position: fixed;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg_image_dragon.winter {
  background-image: url("../../resources/images/my_dragon_icon_full_winter.jpg");
  height: 110vh;
  width: 100vw;
  top: -10vh;
}
.bg_image_dragon.other {
  background-image: url("../../resources/images/my_dragon_icon_full.jpg");
  height: 100vh;
  width: 104vw;
  left: -4vw;
}
.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50vh;
    left: 79vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80vw;
}
.container {
    width: 23vw;
    background-color: white;
    border: 1px solid #888888;
}
.header {
    font-size: 2.1vw;
    white-space: nowrap;
    display: flex;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background: linear-gradient(90deg, #80ff80 0%, cyan 16%, magenta 50%, yellow 83%, #6a00ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 500% auto;
    animation: textShine 4s ease-in-out infinite alternate;
}
@keyframes textShine {
    0%
    {
        background-position: 0% 50%;
    }

    100%
    {
        background-position: 100%, 50%;
    }
}
#header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Vidaloka', serif;
    font-size: min(2.4vh, 1.25vw);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0.5vh;
    margin-top: 0vh;
}
ul li {
    color: #000000;
    padding: 1.3vh;
    font-size: min(2.4vh, 16.5vw);
    border-left: 0.5vw solid #ffffff;
    border-bottom: 0.1vh solid #d3d3d3;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}
ul li:hover {
    border-left: 0.4vw solid #ff8000;
    color: #000000;
    margin-left: 1vw;
    transition: mask-position 1s ease,-webkit-mask-position 1s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}
